<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zgłoszenie przesłane</title>
    <link rel="stylesheet" href="./css/submit.css" />
  </head>
  <body>
    <div class="background"></div>
    <div class="content">
      <div class="panel">
        <h1>Zgłoszenie przesłane</h1>
        <h2>Imię</h2>
        <p><%= fname %></p>
        <h2>Nazwisko</h2>
        <p><%= lname %></p>
        <h2>Email</h2>
        <p><%= email %></p>
        <h2>Język</h2>
        <p><%= lang %></p>
        <h2>Data zajęć</h2>
        <p><%= date %></p>
        <a href="/form">
          <div class="center">
            <button>Wypełnij ponownie</button>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
